$white: #fffefb;
$black: #3f3f3f;
$dark: #49485e;

$gray-300: #faf9f7;
$gray-400: #eeeeee;
$gray-500: #b4b4b4;

$red-500: #ff8484;

$green-500: #7bae73;

$shadow-300: 0px 2px 5px rgba(0, 0, 0, 0.1);
$shadow-400: 0px 6px 10px rgba(0, 0, 0, 0.1);
$shadow-500: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$shadow-600: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);

$transition: 200ms ease;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
